/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$f: 'PT Sans',
sans-serif;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
body {
    background-color: #f6f6f4;
//    background-color: #d3d3d3;
}
.clrears {
    clear: both;
}
.container {
    max-width: 1580px;
}

.top-line-back-fluid {
    background-color: #115896;
    position: relative;
    height: 55px;
    
    &:after {
        content: "";
        background: url(../images/up-line-tri.png) center no-repeat;
        
        height: 56px;
        position: absolute;
        bottom: -40px;
        left: 0px;
        width: 100%;
    }
}


.main-top-fluid {
    background: url(../images/banner.png) center no-repeat;
    background-size: cover;
    max-width: 100%;
   margin-top: -2px;
    
    
    img {
        max-width: 100%;
        
    }
    .container {
        .header-con {
                margin-top: 50px;
            .text-of-timer {
                color: #c0ff00;
    font: 400 22.25px "PT Sans", sans-serif;
    margin-top: 70px;
    margin-bottom: 30px;
                margin-left: 15px;
            }
            .timer {
                
            }
            .logo-expo {
                img {
                        max-width: 15%;
    margin-left: 35px;
    margin-top: 10px;
                }
            }
           
             
                
            .text-order-tour {
                
                
                color: #b9f602;
                font: 400 40.25px $f;
                display: inline-block;
                background-color: rgba(13, 8, 73, 0.5);
                background-size: cover;
                margin-top: 200px;
    margin-bottom: 90px;
                
            }
           
        }
    }
}

.advantages-fluid {
    background: url(../images/order-tour.png) center no-repeat;
    background-size: cover;
    width: 100%;

    
    .advan-block {
        .order-text {
            margin-top: 20px;
            margin-bottom: 95px;
            color: #ffffff;
                    font: 700 50px $f; 
            text-align: center;
                    background: url(../images/line-through.png) center no-repeat;
            text-shadow: 0px 6px 5.64px rgba(0, 0, 0, 0.5);
        }
    .andvan-con {
        ul {
            text-align: center;
            li {
                display: inline-block;
                text-align: center;
                margin: 0 30px;
                ul {
                    li {
                        color: #ffffff;
                        font: 400 50px $f;
                        display: block;
                        margin: 40px 0;
                    }
                    .safety {
                        background:url(../images/safety-icon.png) no-repeat;
                        width: 302px;
                        height: 302px;
                    }
                    .fast {
                        background: url(../images/fast-icon.png) no-repeat;
                         width: 302px;
                        height: 302px;
                    }
                    .quality {
                        background: url(../images/quality-icon.png) no-repeat;
                        width: 302px;
                        height: 302px;
                    }
                }
            }
        }
    }
}
}



.workscheme-fluid {
    background-color: #d8d8d8;
    
    max-width: 100%;
   position: relative;
    
    &:after {
        content: "";
        background: url(../images/tri.png) center no-repeat;
        
        height: 56px;
        position: absolute;
        bottom: -43px;
        left: 0px;
        width: 100%;
    }
    
    .scheme-block {

        
        .scheme-text {
            color: #000033;
            font: 700 50px $f;
            margin-top: 70px;
            margin-bottom: 100px;
            text-shadow: 0px 6px 2.91px rgba(0, 0, 0, 0.2);
        }
        .scheme-con {
            margin-bottom: 110px;
            ul {
                text-align: center;
                li {
                    display: inline-block;
                    margin: 0 5px;
                    
                    ul {
                        li {
                            display: block;
                            text-align: center;
                            margin-bottom: 20px;
                            
                            
                            
                            a {
                                text-decoration: none;
                                color: #000033;
                            font: 700 24px / 24px $f;
                                
                            
                            }
                       
                            
                        }
                        .order {
                                    background: url(../images/order-icon.png) center no-repeat;
                                    width: 190px;
                                    height: 190px;
                            @include transition(all 0.5s ease);
                            &:hover {
                                background: url(../images/order-icon-active.png) center no-repeat;
                                
                            }
                                }
                       .details {
                                    background: url(../images/details-icon.png) center no-repeat;
                                    width: 190px;
                                    height: 190px;
                           @include transition(all 0.5s ease);
                           &:hover {
                                background: url(../images/details-icon-active.png) center no-repeat;
                                
                            }
                                }
                        .payment {
                                    background: url(../images/payment-icon.png) center no-repeat;
                                    width: 190px;
                                    height: 190px;
                            @include transition(all 0.5s ease);
                           &:hover {
                                background: url(../images/payment-icon-active.png) center no-repeat;
                                
                            }
                                }
                        .documents {
                                    background: url(../images/documents-icon.png) center no-repeat;
                                    width: 190px;
                                    height: 190px;
                            @include transition(all 0.5s ease);
                           &:hover {
                                background: url(../images/documents-icon-active.png) center no-repeat;
                                
                            }
                                }
                        .onexpo {
                                    background: url(../images/onexpo-icon.png) center no-repeat;
                                    width: 190px;
                                    height: 190px;
                            @include transition(all 0.5s ease);
                           &:hover {
                                background: url(../images/onexpo-icon-active.png) center no-repeat;
                                
                            }
                                }

                    }
                }
            }
        }
    }
}


.support-fluid {
    background: url(../images/last-back.png) center no-repeat;
    background-size: cover;
    max-width: 100%;
    margin-top: -3px;
//    height: 1070px;
    .support-block {
        .supp-text {
            margin: 70px 0;
            color: #ffffff;
            font: 700 50px / 24px $f;
            text-align: center;
                    background: url(../images/line-through.png) center no-repeat;
                margin-bottom: 230px;
            text-shadow: 0px 6px 5.64px rgba(0, 0, 0, 0.5);
        }
        
        .partners-slider {
            height: 170px;
            margin-bottom: 160px;
            .block {
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 10px;
               max-width: 95%;
                max-height: 100%;
                height: 160px;
                width: 226px;
                margin: 0 auto;
                position: relative;
                box-shadow: 0px 8px 5.64px 0.36px rgba(0, 0, 0, 0.65);
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                }
            }
            
//            .slick-center {
//                .block {
//                        transform: scale(1.08);
//                    @include transition(all 0.5s ease);
//                }
//            }
        }
        
        
        
        .info-bottom {
            display: inline-block;
                background-color: rgba(255, 255, 255, 0.5);
                background-size: cover;
            border-radius: 10px;
                margin-bottom: 140px;
            box-shadow: 0px 6px 5.64px 0.36px rgba(0, 0, 0, 0.5);
            
            p {
                color: #333333;
                font: 700 20.5px $f;
                padding: 10px 5px;
                text-align: center;
            }
        }
    }
}


.order-form-fluid {
    .order-form-con {
        margin-bottom: 30px;
        margin-top: 20px;
        .form-block {
            background-color: #666666;
            padding: 25px 35px 0px 35px;
            box-shadow: 0px 14px 9.7px 0.30px rgba(0, 0, 0, 0.5);
            ul {
                li {
                    margin-bottom: 25px;
                    
                    .btn {
                        color: #ffffff;
                        font: 400 22px $f;
                        background-color: #ff6600;
                        box-shadow: 0px 6px 5.64px 0.36px rgba(0, 0, 0, 0.5);
                        
                        
                        display: block;
                        
                    }
                    input {
                        box-shadow: 0px 6px 5.64px 0.36px rgba(0, 0, 0, 0.5);
                        height: 50px;
                    }
                }
                .text-above {
                    color: #ffffff;
                    font: 700 17px / 24px $f;
                    text-align: center;
                }
            }
            
         
        }
         .expo-logo {
                img {
                    max-width: 100%;
                        margin-left: 40px;
                }
            }
        .destinations-logo {
            
            img {
                max-width: 100%;
                    margin-top: 80px;
    margin-left: 20px;
                
            }
        }
            
    }
}





.footer-fluid {
    background-color: #115896;
    .footer-con {
        padding: 30px 0;
        .website-address {
            color: #ffffff;
            font: 400 23px $f;
        }
        .list-of-country {
            color: #ffffff;
            font: 400 23px / 20px $f;
        }
    }
}
